

#backdrop{
    background-attachment: fixed;
    background-image:url(https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym9vayUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    margin: 0%;
    -webkit-backdrop-filter: grayscale(100%) blur(8px);
    backdrop-filter: grayscale(100%) blur(8px);
    width: 100%;
    height: 100%;
    
}

 #header {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: coral;
    background-color: cadetblue;
    text-shadow: 5px;
    font-size: 100px;
    text-align: center;
    position: sticky;
    border-top:  4px black double;
    border-left:  4px black double;
    border-right:  4px black double;
    margin: 0%;
    width: 100%;
 }

 #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: coral;
    background-color:  cadetblue;
    text-shadow: 5px;
    text-decoration: underline 4px black;
    font-size: 70px;
    text-align: center;
    position: sticky;
    border: 4px black double;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 10px;
    margin-bottom: 0%;
    font-size: 50px;
    width: 100%;
 }

 .navbar{
   color: white;
    justify-content: center;
    padding-left: 20px;
    margin-right: 40px;
    border-left: 2px white solid;
} 

#navbar-container{
    display: flex;
    justify-content: start;
    width: 100%;
    text-align: center;
    padding-bottom: 2px;
    background-color:cadetblue;
    border-bottom: 4px black double;
    border-left:  4px black double;
    border-right:  4px black double;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.book-descriptions{
    display: none;
    text-align: center;
    }

.book-descriptions .book-names{
    font-size: 25px;
    color: coral;;
    text-align: center;
    
}

.history-books{
      height: 170px;
    width: 170px;
    margin: auto;
}

.book-descriptions .price{
    font-size: 18px;
    color: white; ;
    text-align: center;
}

.all-books{
    display: flex;
    flex-direction: column;
    direction: rtl;
    height:90%;
    width: 100%;
}

.history-of-greece, .history-of-spain, .history-of-france{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 320px;
    width: 100%;
    margin-left: 70px;
   
}


.country-heding{
    background-color: rgba(169, 169, 169, 0.283);
    color: white;
    text-align: center;
    font-size: 40px;
}

.book{
   
    display: flex;
    transition-duration: 0.6s;
    background-color: rgba(169, 169, 169, 0.8);
    border: 3px rgba(169, 169, 169, 0.8) solid;
    height: 170px;
    width: 170px;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    
}

.button{
    position: sticky;
    bottom: 0;
    right: 0;
}

.book:hover{
    height: 300px;
    width: 215px;
}

.footer-pic{
    height: 70px;
    width: 70px;
    text-align: center;
}

.lottie{
    width: 170px;
    height: 170px;
}
  

.book:hover .history-books {
    transition-duration: 0.6s;
    height: 205px;
    width: 205px;
    border: rgb(211, 247, 247);
}
.book:hover .lottie {
    transition-duration: 0.6s;
    height: 205px;
    width: 205px;
    border: rgb(211, 247, 247);
}



.book:hover .book-descriptions{display: block;}



